html {
    --padding: 200px;
    --border-width: 20px;
    --color: #000;
    --color-2: #666;
    --border-color: #ddd;
    --blue: #2d7ff9;
    --lightblue: #18bfff;
    --teal: #20d9d2;
    --green: #20c933;
    --yellow: #fcb400;
    --orange: #ff6f2c;
    --red: #f82b60;
    --pink: #ff08c2;
    --purple: #8b46ff;
    --grey: #444;
    background-color: var(--background-color);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    html {
        --prefers-color-scheme: "dark";
        --background-color: #000;
        --background-2-color: #000;
        --color: #fff;
        --color-2: #9a9a9a;
        --border-color: #333;
    }
}

/*picker-popup opacity*/
@keyframes fade-in-opacity {
    from {
        opacity: 0;
        background-color: rgba(0, 0, 0, 1);
    }
    to {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes fade-out-opacity {
    from {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        opacity: 0;
        background-color: rgba(0, 0, 0, 1);
    }
}

/*4s black ease in*/
.picker-popup {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh; /* picker-popup full screen */
    background-color: rgba(0, 0, 0, 0.2);
    --option-height: 400px;
    --toolbar-height: 0px;
    --popup-height: 100vh;
    background-color: rgba(0, 0, 0, 1); /* Initial all black */
    opacity: 0; /* initial transparency */
    animation: fade-in-opacity 4s forwards;
}
.picker-popup .selector {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%; /* selector fill the picker-popup */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-2-color);
}
.picker-popup .selector .toolbar {
    position: absolute;
    height: var(--toolbar-height);
    width: min(100vw, calc(100vh * (768 / 1024)));
    top: 0;
    left: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.picker-popup .selector .toolbar .left {
    position: absolute;
    color: var(--blue);
    cursor: pointer;
}
.picker-popup .selector .toolbar .center {
    font-weight: 200;
    color: var(--color);
}
.picker-popup .selector .toolbar .right {
    position: absolute;

    color: var(--blue);
    font-weight: 600;
    cursor: pointer;
}
.picker-popup .selector .toolbar .disabled {
    display: none;
}
.picker-popup .selector .peek-top, .picker-popup .selector .peek-bottom {
    position: absolute;
    left: 0;
    width: min(100vw, calc(100vh * (768 / 1024)));
    box-sizing: border-box;
    pointer-events: none;
    background-color: var(--background-2-color);
    opacity: 0.6;
}
.picker-popup .selector .peek-top.peek-top, .picker-popup .selector .peek-bottom.peek-top {
    top: var(--toolbar-height);
    border-bottom: var(--border-color) 1px solid;
}
.picker-popup .selector .peek-top.peek-bottom, .picker-popup .selector .peek-bottom.peek-bottom {
    bottom: var(--safe-area-inset-bottom);
    border-top: var(--border-color) 1px solid;
}
.picker-popup .selector .column {
    width: min(100vw, calc(100vh * (768 / 1024)));
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.picker-popup .selector .column .before {
    flex-shrink: 0;
    content: " ";
height: calc( var(--popup-height) / 2 - var(--option-height) / 2 - var(--toolbar-height) / 2 );
}
.picker-popup .selector .column .after {
    flex-shrink: 0;
    content: " ";
height: calc( var(--popup-height) / 2 - var(--option-height) / 2 - var(--toolbar-height) / 2 );
}
.option {
    scroll-snap-align: center;
    flex-shrink: 0;
    height: 40rem;
    font-size: 14px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: min(100vw, calc(100vh * (768 / 1024)));
    align-items: center;
    opacity: 0.5; /* Default transparency */
    transition: opacity 0.5s ease-in-out; /* Make transparency changes smooth */
}
.pill {
    background-color: var(--border-color);
    height: 40rem;
    width: min(100vw, calc(100vh * (768 / 1024)));
    color: #fff;
}
.picker-popup .selector .column .option .pill.blue {
    background-color: var(--blue);
}
.picker-popup .selector .column .option .pill.lightblue {
    background-color: var(--lightblue);
}
.picker-popup .selector .column .option .pill.teal {
    background-color: var(--teal);
}
.picker-popup .selector .column .option .pill.green {
    background-color: var(--green);
}
.picker-popup .selector .column .option .pill.yellow {
    background-color: var(--yellow);
}
.picker-popup .selector .column .option .pill.orange {
    background-color: var(--orange);
}
.picker-popup .selector .column .option .pill.red {
    background-color: var(--red);
}
.picker-popup .selector .column .option .pill.pink {
    background-color: var(--pink);
}
.picker-popup .selector .column .option .pill.purple {
    background-color: var(--purple);
}
.picker-popup .selector .column .option .pill.grey {
    background-color: var(--grey);
}
.picker-popup.dismiss {
    pointer-events: none;
    animation: fade-out-opacity 3s forwards;
}
.picker-popup.dismiss .selector {

}

/* hide scroll bar */
.picker-popup .selector .column {
    scrollbar-width: none; /* hide Firefox scroll bar */
    -ms-overflow-style: none; /* hide IE、Edge scroll bar */
}
.picker-popup .selector .column::-webkit-scrollbar {
    display: none; /* hide Chrome、Safari、Edge scroll bar */
}

